.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(62, 65, 146, 0.06);
  width: 1920px;
  height: 3883px;
}
.rectangle-277,
.rectangle-280,
.rectangle-281 {
  position: absolute;
  height: 47.52%;
  width: 19.63%;
  top: 0;
  right: 56.64%;
  bottom: 52.48%;
  left: 23.73%;
  background-color: #2f59ed;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.rectangle-280,
.rectangle-281 {
  height: 73.86%;
  top: 4.75%;
  right: 25.45%;
  bottom: 21.39%;
  left: 54.92%;
}
.rectangle-281 {
  height: 103.29%;
  top: 7.31%;
  right: -5.75%;
  bottom: -10.6%;
  left: 86.12%;
}
.finance,
.shape {
  position: relative;
}
.shape {
  width: 19.69px;
  height: 13.9px;
}
.finance {
  line-height: 100%;
  font-weight: 800;
}
.logofinance {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.881126880645752px;
  gap: 5.43px;
}
.logo-container {
  position: relative;
  width: 161.88px;
  height: 25.76px;
  display: none;
}
.portfolio {
  position: relative;
  letter-spacing: 1px;
  line-height: 140%;
}
.navbar-menu-item,
.navbar-menu-item1,
.navbar-menu-item2 {
  border-radius: 6px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-menu-item1,
.navbar-menu-item2 {
  color: #151515;
}
.navbar-menu-item2 {
  color: #2f59ed;
}
.careers {
  position: relative;
  letter-spacing: 1px;
  line-height: 140%;
  font-weight: 500;
}
.navbar-menu-item4 {
  border-radius: 6px;
  justify-content: flex-start;
}
.left-content,
.navbar-menu,
.navbar-menu-item4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-menu {
  width: 377px;
  justify-content: space-between;
  font-size: 14px;
}
.left-content {
  flex: 1;
  justify-content: center;
  gap: 80px;
}
.shop-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.top-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.colors-icon,
.navigation {
  position: absolute;
  top: 0;
  left: 0;
}
.navigation {
  background-color: #fff;
  width: 1920px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 160px;
  box-sizing: border-box;
  font-size: 17.87px;
  color: #2e343f;
}
.colors-icon {
  margin: 0 !important;
  height: 353.48%;
  width: 142.5%;
  right: -42.5%;
  bottom: -253.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.6;
  z-index: 0;
}
.smart-business-solutions {
  position: relative;
  font-size: 96px;
  line-height: 110%;
  display: inline-block;
  width: 1200px;
  height: 212px;
  flex-shrink: 0;
}
.enter-your-email,
.partner-with-us {
  position: relative;
  line-height: 160%;
  display: inline-block;
  width: 587px;
}
.enter-your-email {
  display: none;
  width: 386px;
  flex-shrink: 0;
}
.label {
  position: relative;
  letter-spacing: 1px;
  font-weight: 500;
}
.button,
.newsletter-form {
  border-radius: 100px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
}
.button {
  background-color: #2f59ed;
  height: 52px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 12px 24px;
  font-size: 16px;
  color: #f9f9f9;
}
.newsletter-form {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  width: 772px;
  height: 100px;
  display: none;
  justify-content: center;
  gap: 185px;
  text-align: left;
  color: #777;
}
.youll-never-regret {
  position: relative;
  line-height: 160%;
  display: inline-block;
  width: 324px;
  height: 38px;
  flex-shrink: 0;
}
.autolayout-horizontal {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  text-align: left;
}
.container-centered {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  z-index: 1;
}
.bienvenue-dans-cette,
.hero,
.tmoignage {
  position: absolute;
  color: #2e343f;
  text-align: center;
}
.hero {
  top: 62px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 593px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 160px;
  box-sizing: border-box;
  gap: 60px;
  font-size: 24px;
}
.bienvenue-dans-cette,
.tmoignage {
  display: inline-block;
}
.tmoignage {
  top: 220px;
  left: 436px;
  font-size: 96px;
  line-height: 110%;
  width: 1063px;
  height: 149px;
}
.bienvenue-dans-cette {
  top: 369px;
  left: 99px;
  line-height: 160%;
  width: 1783px;
  height: 102px;
}
.connect-with-us,
.stay-up-to-date-with {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.stay-up-to-date-with {
  font-size: 16px;
  line-height: 200%;
}
.fb {
  display: none;
}
.fb,
.in {
  position: relative;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.autolayout-horizontal1,
.content-area {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.autolayout-horizontal1 {
  display: none;
  flex-direction: row;
  font-size: 20px;
  color: #d9d9d9;
}
.content-area {
  width: 512px;
  display: flex;
  flex-direction: column;
}
.label1,
.lead-text1 {
  position: relative;
  letter-spacing: 0.15px;
  font-weight: 500;
}
.label1 {
  align-self: stretch;
  line-height: 20px;
  display: none;
}
.lead-text1 {
  line-height: 24px;
}
.chevron-down-icon {
  position: relative;
  width: 12px;
  height: 12px;
  display: none;
}
.lead-text {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #d9d9d9;
}
.lead-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.placeholder {
  flex: 1;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}
.chevron-right-child {
  height: 16.23%;
  width: 70.66%;
  top: -11.47%;
  right: 29.34%;
  bottom: 95.25%;
  left: 0;
  border-radius: 30px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.chevron-right-child,
.chevron-right-item,
.chevron-right1 {
  position: absolute;
  transform-origin: 0 0;
}
.chevron-right-item {
  height: 16.23%;
  width: 70.65%;
  top: -165.71%;
  right: 29.35%;
  bottom: 249.48%;
  left: 0;
  border-radius: 30px;
  background-color: #fff;
  transform: rotate(45deg);
}
.chevron-right1 {
  height: 41.08%;
  width: 72.79%;
  top: 86.94%;
  right: -1.98%;
  bottom: -28.02%;
  left: 29.19%;
  transform: rotate(-90deg);
}
.chevron-right {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field,
.trail-text {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.trail-text {
  display: flex;
  padding: 0 6px 0 0;
  gap: 4px;
}
.field {
  align-self: stretch;
  background-color: #2e343f;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 88px;
  display: none;
  padding: 0 16px;
  gap: 12px;
  text-align: right;
  font-size: 16px;
  color: #fff;
}
.hint-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.hint-text {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 20px;
}
.hint {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.container,
.input {
  display: flex;
  align-items: flex-start;
}
.input {
  width: 600px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
  color: #5f6d7e;
}
.container {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.border {
  align-self: stretch;
  position: relative;
  background-color: #fff;
  height: 1px;
}
.current-year-your {
  position: relative;
  line-height: 180%;
}
.subnav {
  width: 785px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 32px;
  color: #d9d9d9;
}
.autolayout-vertical,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.autolayout-vertical {
  align-self: stretch;
  align-items: flex-start;
  gap: 31px;
  font-size: 14px;
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2e343f;
  width: 1920px;
  align-items: center;
  padding: 100px 160px 20px;
  box-sizing: border-box;
  gap: 73px;
  font-size: 54px;
}
.nous-contacter {
  position: relative;
  font-size: 20px;
  line-height: 180%;
}
.frame-203 {
  position: absolute;
  top: 124px;
  left: 1097px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.image-2-icon {
  position: absolute;
  top: 104px;
  left: 1347px;
  width: 509px;
  height: 366px;
  object-fit: cover;
}
.nos-locaux {
  position: relative;
  line-height: 180%;
  display: inline-block;
  width: 78px;
}
.frame-2031 {
  position: absolute;
  top: 121px;
  left: 950px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.instagram-alt-icon {
  position: absolute;
  top: 483px;
  left: 160px;
  width: 42px;
  height: 41px;
  overflow: hidden;
}
.facebook-alt-icon,
.linkedin-alt-icon,
.twitter-alt-icon {
  position: absolute;
  top: 483px;
  left: 202px;
  width: 41px;
  height: 41px;
  overflow: hidden;
}
.facebook-alt-icon,
.linkedin-alt-icon {
  left: 240px;
}
.linkedin-alt-icon {
  top: 482px;
  left: 281px;
  width: 42px;
  height: 42px;
}
.footer-parent {
  position: absolute;
  top: 2208px;
  left: 0;
  width: 1953px;
  height: 691px;
  font-size: 14px;
  color: #fff;
}
.logofinance1 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.881126880645752px;
  gap: 5.43px;
}
.logo-container1 {
  position: relative;
  width: 0;
  height: 0;
}
.navbar-menu-item5 {
  color: #151515;
}
.navbar-menu-item5,
.navbar-menu-item6 {
  border-radius: 6px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-menu-item9,
.navbar-menu1 {
  display: flex;
  justify-content: flex-start;
}
.navbar-menu-item9 {
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  color: #2f59ed;
}
.navbar-menu1 {
  gap: 32px;
  font-size: 32px;
}
.navbar-menu1,
.navigation1,
.top-icons1 {
  flex-direction: row;
  align-items: center;
}
.top-icons1 {
  display: none;
  justify-content: flex-end;
  gap: 40px;
}
.navigation1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 209px;
  display: flex;
  justify-content: space-between;
  padding: 20px 160px;
  box-sizing: border-box;
}
.image-3-icon {
  position: absolute;
  top: 28px;
  left: 68px;
  width: 443px;
  height: 169px;
  object-fit: cover;
}
.navigation-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 209px;
}
.magnifier-1-icon,
.user-1-icon {
  position: absolute;
  top: 78px;
  left: 1610px;
  width: 71.29px;
  height: 70px;
  object-fit: cover;
}
.user-1-icon {
  left: 1736px;
  width: 70px;
}
.group-parent,
.tmoignages-child {
  position: absolute;
  left: 0;
  width: 1920px;
}
.group-parent {
  top: 0;
  height: 209px;
  font-size: 17.87px;
  color: #2e343f;
}
.tmoignages-child {
  top: 649px;
  background-color: #fff;
  height: 1569px;
}
.navbar-menu-item10 {
  position: absolute;
  top: 1329px;
  left: 534px;
  border-radius: 6px;
  height: 42px;
}
.image-6,
.tmoignages-item {
  position: absolute;
  top: 1602px;
  left: 307px;
  width: 341px;
  height: 340px;
}
.tmoignages-item {
  top: 1446.5px;
  left: 892px;
  width: 378px;
  height: 336px;
}
.jeune-belle-femme-pull-chaud-r-icon {
  position: absolute;
  top: 1041px;
  left: 687px;
  width: 3px;
  height: 1px;
  object-fit: cover;
}
.tmoignages-inner {
  position: absolute;
  top: 649px;
  left: 0;
  background-color: #f1ffff;
  width: 1920px;
  height: 1559px;
}
.rectangle-div,
.rectangle-icon,
.tmoignages-child1 {
  position: absolute;
  top: 861px;
  left: 690px;
  border-radius: 117px;
  width: 545px;
  height: 608px;
}
.rectangle-div,
.tmoignages-child1 {
  left: 1328px;
}
.rectangle-div {
  top: 866px;
  left: 61px;
  background-color: #d5e8f9;
  width: 530px;
  height: 603px;
}
.un-collgue-au {
  margin: 0;
}
.jai-t-victime,
.un-collgue-au-container {
  position: absolute;
  top: 934px;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 140%;
  text-align: center;
  display: inline-block;
}
.un-collgue-au-container {
  left: 83px;
  width: 485px;
  height: 107px;
}
.jai-t-victime {
  left: 717px;
  color: #000;
  width: 482px;
}
.portrait-homme-blanc-isole-1-icon {
  position: absolute;
  top: 1615px;
  left: 182px;
  border-radius: 243.5px;
  width: 250px;
  height: 268px;
  object-fit: cover;
}
.div,
.paul-smith {
  position: absolute;
  top: 1964px;
  left: 288px;
  letter-spacing: 1px;
  line-height: 140%;
}
.paul-smith {
  top: 1919px;
  left: 224px;
}
.entrepreneur-portrait-1-icon {
  position: absolute;
  top: 1615px;
  left: 808px;
  border-radius: 120.5px;
  width: 256px;
  height: 260px;
  object-fit: cover;
}
.francesca-diaz,
.grgory-dupont {
  position: absolute;
  top: 1919px;
  left: 819px;
  letter-spacing: 1px;
  line-height: 140%;
}
.francesca-diaz {
  left: 1483px;
}
.jeune-belle-femme-pull-chaud-r-icon1 {
  position: absolute;
  top: 1602px;
  left: 1469px;
  border-radius: 152.5px;
  width: 264px;
  height: 269px;
  object-fit: cover;
}
.div1,
.div2 {
  position: absolute;
  top: 1964px;
  left: 1581px;
  letter-spacing: 1px;
  line-height: 140%;
}
.div2 {
  left: 925px;
}
.tmoignages {
  position: relative;
  width: 100%;
  height: 2833px;
  overflow: hidden;
  background-image: url(./public/tmoignages@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 32px;
  color: #151515;
  font-family: Manrope;
}
